
<% provide(:page_title, 'Главная') %>


<div id="wrapper">
 <div class="slider-wrapper theme-default">
  <div class="ribbon"></div>
  <div id="slider" class="ramblingSlider">

    <div>
     <%= image_tag ("1.jpeg") %>
      <div class="slider_text">
         <h2>asxasx</h2>
         <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br> Duis aute irure dolor in reprehenderit.</p>
      </div>
  </div>

   <div> 
   	<%= image_tag ("2.jpg") %>
	   <div class="slider_text">
	         <h2>aaaaa</h2>
	         <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrudequat.<br> Duis aute irure dolor in reprehenderit.</p>
	    </div>
    </div>


   <%= image_tag ("3.jpg") %>


  
  <div> 
   	<%= image_tag ("2.jpg") %>
	   <div class="slider_text">
	         <h2>asxasx</h2>
	         <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br> Duis aute irure dolor in reprehenderit.</p>
	    </div>
    </div>


    </div>
  </div>
</div>

<script type="text/javascript">

    $(window).ready(function() {
        $('#slider').ramblingSlider({pauseOnHover: false, speed: 1000, pauseTime: 10000, effect: 'fade'});
            });
            </script>

<div class="block">
  <div class = "row1">
    <ul class="index-list">
      <li>
        <h3> ssasasxaASsax
        axaxasxaxs </h3>
        <p>
        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolonostrud
        </p>
      </li>
    
      <li>
        <h3> sjjssjjsjaajsjsjsjj
        jsjsjsjsjsjsjjs </h3>
        <p>
        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et d
        </p>
      </li>
    </ul>
  </div>

  <div class = "row2">
  <h3> О НАС </h3>
    <p class="sub2">
          <em>
            Длительное время ООО «КМЗ» сотрудничает с угольными и промышленными предприятиями Украины. Наше предприятие осуществляет поставку продукции и выполняет работы по капитальному ремонту горно-шахтного оборудования.
          </em>
          <p>
            На предприятии работают квалифицированные специалисты с большим стажем работы в области машиностроения. На продукцию, выпускаемую нашим предприятием, и на услуги по выполнению капитального ремонта имеется вся разрешительная документация.
            ООО «КМЗ» является единственным предприятием Украины выпускающим вентиляторы местного проветривания и газоотсасывающие вентиляторы ВМЦГ-7.
            На оборудование, поступающее в ремонт, имеем комплект технической документации, в том числе и чертежная документация, разработанная нашими сотрудниками.
          </p>
          <br>
         
          <%=image_tag("vmcg7.png")%>
          <%=image_tag("work.png")%>
          <%=image_tag("vme.png")%>
         
          </br>
   
  </div>
</div>
<div class="sabout_image">
    <div class="sabout_cnt">
        <div class="container center">
            <div class="sabout_content">
                <h2>ШАХТЁРЫ<br>
                
                ЗНАЮТ НАШУ ПРОДУКЦИЮ
                </h2>
                <p>
                ООО "КРАСНОАРМЕЙСКИЙ МАШИНОСТОРИТЕЛЬНЫЙ ЗАВОД"
                </p>
            </div>
        </div>
    </div>
  </div>