<% cache do %>
<% provide(:page_title, 'Продукция') %>
<div class="hback">
<%=image_tag("kmz3.jpg")%>
</div>
<section class="product">
	<div class="container">
		<div class="row">
					<div class="grid_8" id="vent7m">
                     <%=image_tag("vent-7m.jpg")%>
                    
					</div>
					<div class="grid4">
                      <h1>01</h1>
                      	<h3>ВЕНТИЛЯТОР ГАЗООТСАСЫВАЮЩИЙ ВМЦГ-7М</h3>
                      	<p>Предназначен для снижения газообильности выемочных участков и устранения скоплений метана на сопряжениях очистных и вентиляционных выработок в угольных шахтах, опасных по газу и пыли, путем отсасывания метановоздушных смесей из выработанных пространств и отвода их по жестким трубопроводам диаметром 600-900 мм длинной до 2000 м. . Может применятся при шурфовом проветривании, а также в качестве вентилятора местного проветривания для вентиляции тупиковых выработок большой протяженности.</p>
					</div>
					
				</div>
			
			</div>
		</div>

	</div>
</section>

<section class="product2">
	<div class="container">
		<div class="row">
					<div class="grid_8" ID="v2-10">
                     <%=image_tag("v2-10.jpg")%>
                    
					</div>
					<div class="grid4">
                      <h1>02</h1>
                      	<h3>ВЕНТИЛЯТОРЫ МЕСТНОГО ПРОВЕТРИВАНИЯ ВМЭ 2-10</h3>
                      	<p>Вентиляторы осевые, двухступенчатые предназначены для нагнетательного проветривания тупиковых горных выработок. Возможно их использование при проходке тоннелей и штолен.
Взрывобезопасное исполнение вентиляторов РВ ЗВ обеспечивает возможность эксплуатации на шахтах, опасных по газу и пыли.
Рассчитаны на работу как с жесткими, так и гибкими трубопроводами диаметром 800, 1000 мм.
Климатическое исполнение У5 по ГОСТ 15150-69. По требованию заказчиков, вентиляторы могут поставляться с глушителем шума в исполнении ВМЭ2-10/1.
</p>
					</div>
					
				</div>
			
			</div>
		</div>
		
	</div>
</section>
<section class="product2">
	<div class="container">
		<div class="row">
					<div class="grid_8" id="vent2-8">
                     <%=image_tag("vent2-8.jpg")%>
                    
					</div>
					<div class="grid4">
                      <h1>03</h1>
                      	<h3>ВЕНТИЛЯТОРЫ ШАХТНЫЕ МЕСТНОГО ПРОВЕТРИВАНИЯ ВМЭ 2-8</h3>
                      	<p>Вентиляторы осевые, двухступенчатые предназначены для нагнетательного проветривания тупиковых горных выработок. Возможно их использование при проходке тоннелей и штолен.
Взрывобезопасное исполнение вентиляторов РВ ЗВ обеспечивает возможность эксплуатации на шахтах, опасных по газу и пыли.
Рассчитаны на работу как с жесткими, так и гибкими трубопроводами диаметром 800 мм.
Климатическое исполнение У5 по ГОСТ 15150-69. По требованию заказчиков, вентиляторы могут поставляться с глушителем шума в исполнении ВМЭ2-8/1.
</p>
					</div>
					
				</div>
			
			</div>
		</div>
		
	</div>
</section>
<section class="product2">
	<div class="container">
		<div class="row">
					<div class="grid_8" id="dsy-4m">
                     <%=image_tag("dsy-4m.jpg")%>
                    
					</div>
					<div class="grid4">
                      <h1>04</h1>
                      	<h3>ДОЗАТОР СМАЧИВАТЕЛЯ УЧАСТКОВЫЙ ДСУ-4М</h3>
                      	<p>Дозатор смачивателя участковый ДСУ-4М предназначен для добавки жидких смачивателей (марки ДБ и подобных ему по физическим свойствам) к воде, используемой для смачивания пыли в местах ее образования или отложения.
Дозаторы могут применяться в шахтах в комплексе с оборудованием для предварительного увлажнения угля, при обмывке горных выработок, а также в системе орошения забойных машин и комплексов.

</p>
					</div>
					
				</div>
			
			</div>
		</div>
		
	</div>
</section>
<section class="product2">
	<div class="container">
		<div class="row">
					<div class="grid_8">
                     <%=image_tag("rdm-32.jpg")%>
                    
					</div>
					<div class="grid4">
                      <h1>05</h1>
                      	<h3>РЕЛЕ ДАВЛЕНИЯ ДЛЯ ГОРНЫХ МАШИН РДМ - 32</h3>
                      	<p>Реле давления горных машин предназначено для контроля заданных значений в гидросистемах насосных станций, системах пылеподавления горных машин и гидросистемах механизированных крепей и др.

</p>
					</div>
					
				</div>
			
			</div>
		</div>
		
	</div>
</section>
<section class="product2">
	<div class="container">
		<div class="row">
					<div class="grid_8">
                     <%=image_tag("fors.jpg")%>
                    
					</div>
					<div class="grid4">
                      <h1>06</h1>
                      	<h3>ФОРСУНКИ (ОК, 03, ОП, ШОУ)</h3>
                      	<p>Унифицированный ряд оросителей включает в себя оросители конусные (ОК), оросители зонтичные (ОЗ), оросители плоскоструйные (ОП), шахтные (ШОУ-7), которые предназначаются для пылеподавления при технологических процессах в шахтах, связанных с пылевыделением. Применяются в системах орошения при рабочем давлении 0,6-2,5 МПа.
Унифицированный ряд оросителей создан на базе центробежных форсунок. Унификация заключается в том, что все оросители изготавливаются на базе одного оросителя.
Вынесенный тангенциальный подвод воды позволяет ликвидировать застойную зону, что повышает работоспособность оросителя на шахтной воде с примесями.


</p>
					</div>
					
				</div>
			
			</div>
		</div>
		
	</div>
</section>
<section class="product2">
	<div class="container">
		<div class="row">
					<div class="grid_8">
                     <%=image_tag("vozd.jpg")%>
                    
					</div>
					<div class="grid4">
                      <h1>07</h1>
                      	<h3>ВОЗДУХОВОДЫ ДЛЯ ШАХТНОГО ВЕНТИЛЯЦИОННОГО ОБОРУЖОВАНИЯ</h3>
                      	<p>Воздуховоды металлические вентиляционные диаметром 600, 630, 800, 1000 мм предназначены для сборки жесткого вентиляционного става с целью подачи воздуха в тупиковые забои горных выработок или отвода метановоздушной смеси из выработанного пространства. Воздуховоды изготавливаются из листового проката толщиной 2 мм, фланцы – уголок стальной равнополочный по ГОСТ 8509-86, уплотнительной прокладки из резины-пластины ТМКШ-3. 

</p>
					</div>
					
				</div>
			
			</div>
		</div>
		
	</div>
</section>
 <div class="sabout_image">
    <div class="sabout_cnt">
        <div class="container center">
            <div class="sabout_content">
                <h2>ПРОИЗВОДИМ ОБОРУДОВАНИЕ<br>
                
                ВЫСОКОГО КАЧЕСТВА
                </h2>
                <p>
                ООО "КРАСНОАРМЕЙСКИЙ МАШИНОСТОРИТЕЛЬНЫЙ ЗАВОД"
                </p>
            </div>
        </div>
    </div>
  </div>
<% end %>
