<% provide(:page_title, 'Услуги') %>
<div class="hback">
<%=image_tag("kmz3.jpg")%>
</div>
<section class="service">
	<div class="container white">
		<h3>КАПИТАЛЬНЫЙ РЕМОНТ</h3>
		<div class="tabs">
			<div class="tabs-container">
				<div class="row">
					<div class="grid3" id="1gpks">
                     <%=image_tag("1gpks.jpg")%>
                     <h4 class="offs9">КОМБАЙН 1ГПКС</h4>
                     <p class="offs7">Предназначен для механизации отбойки и погрузки горной массы при проведении горизонтальных и наклонных горных выработок любой формы сечения (кроме круглых)</p>
					</div>
					<div class="grid3" id="sp250">
						<%=image_tag("sp250.jpg")%>
                     <h4 class="offs9">СКРЕБКОВЫЙ КОНВЕЙЕР (ПРИВОД) СП-250, СП-251, СП-202, СП-26У, СПЦ-126, СПЦ-320</h4>
                     <p class="offs7">Предназначен для работы в составе механизированных комплексов по доставке угря, горючих сланцев или калийных руд из очистных забоев при отработке пологих и наклонных пластов, подвигающихся по простиранию до 35°, по падению или восстанию пласта до 10° в шахтах любой категории опасности по газу и пыли.</p>
					</div>
					<div class="grid3" id="rky10">
						<%=image_tag("rky10.jpg")%>
                     <h4 class="offs9">ОЧИСТНОЙ КОМБАЙН РКУ-10, РКУ-13, 1К101У</h4>
                     <p class="offs7">Предназначен для выемки угля в составе очистных комплексов в забоях пологих и наклонных пластов мощностью 1,10 – 1,93 м, подвигающихся по простиранию с углами наклона до 35 °, а также по восстанию и падению с углами до 10 °, при сопротивляемости угля резанию до 360 кН/м</p>
					</div>
					<div class="grid3" id="ykd-200">
						<%=image_tag("ykd-200.jpg")%>
                     <h4 class="offs9">ОЧИСТНОЙ КОМБАЙН УКД-200-250, УКД-200 </h4>
                     <p class="offs7">Предназначен для выемки угля в очистных забоях продвигающихся по простиранию пластов  мощностью 0,85-1,3 м с углом падения до 35°, а также по падению и восстанию  - до 10°, при сопротивляемости угля резанию до 360 кН/м.</p>
					</div>
				</div>
				<div class="row">
					<div class="grid3">
                     <%=image_tag("1ppn5.jpg")%>
                     <h4 class="offs9">ПОРОДОПОГРУЗОЧНАЯ МАШИНА 1ППН5, 1ППН5Я, ППН-21</h4>
                     <p class="offs7">Предназначена для погрузки отделённой от массива горной массы крупностью не более 400 мм в транспортные средства при проведении горизонтальных и наклонных до 5°  горных выработок сечением в свету не менее 6 м² в шахтах, опасных по газу (метану) или угольной пыли.</p>
					</div>
					<div class="grid3">
						<%=image_tag("ksp32.jpg")%>
                     <h4 class="offs9">ПРОХОДЧЕСКИЙ КОМБАЙН КСП-32, КСП-22, КСП-42, П110, П220</h4>
                     <p class="offs7">Предназначен для механизированной отбойки и погрузки горной массы при проведении горизонтальных и наклонных до ± 12° выработок сечением от 10 до 33 м² по углю и смешанному забою с пределом прочности разрушаемых пород до 100 МПа И абразивностью до 15 мг в шахтах, опасных по газу (метану) и угольной пыли.</p>
					</div>
					<div class="grid3">
						<%=image_tag("lv25.jpg")%>
                     <h4 class="offs9">ЛЕБЁДКА ЛВ25, ЛШВ-01, 17ЛС, 30ЛС, 55ЛС, 100ЛС, 3ЛП</h4>
                     
					</div>
					<div class="grid3">
						<%=image_tag("1L100u.jpg")%>
                     <h4 class="offs9">ЛЕНТОЧНЫХ КОНВЕЙЕРОВ 1Л100У, 2ЛТ1000, 3ЛТ1000, 2Л80</h4>
                    </div>
				</div>
				<div class="row">
						<div class="grid3">
                     <%=image_tag("1kd30.jpg")%>
                     <h4 class="offs9">МЕХАНИЗИРОВАННЫЕ СЕКЦИИ КРЕПЛЕНИЯ 1КД-90, 2КД-90, 3КД-90, 1КД-80, 2КД-80, КДД, ДМ</h4>
                     <p class="offs7">Крепь механизированная КД90 поддерживающе-оградительного типа предназначена для механизации процессов поддержания и укрепления кровлей в призабойном пространстве лавы при отработке пологих и наклонных пластов в составе механизированных комплексов.</p>
					</div>
					<div class="grid3">
						<%=image_tag("2pnb.jpg")%>
                     <h4 class="offs9">ПОРОДОПОГРУЗОЧНАЯ МАШИНА 2ПНБ-2Б</h4>
                     <p class="offs7">Буропогрузочная машина предназначена для бурения шпуров и погрузки взорванной горной массы при буровзрывном способе ведения горных работ в горизонтальных и наклонных (до ± 10°) выработках. Машина комплектуется двумя сменными бурильными машинами: электрической – при бурении пород крепостью от 6 до 8 ед. по Протодьяконову, пневматической – при бурении пород крепостью от 8 до 12 ед.</p>
					</div>
					<div class="grid3">
						<%=image_tag("sgb-1.jpg")%>
                     <h4 class="offs9">БУРОВЫЕ СТАНКИ И МАШИНЫ СБГ-1М, ККР, УБШ-252, УБШ-313, ЭБГП (СЭР-19М)</h4>
                     <p class="offs7">Предназначен для бурения газодренажных и геологоразведочных скважин по углю и породам крепостью до 120 МПа в шахтах, опасных и неопасных по газу и пыли, включая выбросоопасные пласты.</p>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</section>
 <div class="sabout_image">
    <div class="sabout_cnt">
        <div class="container center">
            <div class="sabout_content">
                <h2>НАДЁЖНЫЙ ПАРТНЁР<br>
                
                ДЛЯ ВАШЕГО ПРЕДПРИЯТИЯ
                </h2>
                <p>
                ООО "КРАСНОАРМЕЙСКИЙ МАШИНОСТОРИТЕЛЬНЫЙ ЗАВОД"
                </p>
            </div>
        </div>
    </div>
  </div>