<%# cache do %>
  <header> 
    
 <div class="container center" id="userlogin">
  <div class="brand">
  <%=image_tag("kmz.png")%>
  </div>
  <div class="navbar navbar-inverse ">
      
        
            <ul class="nav" id="mainmenu">

              <li><%= link_to "Главная", root_path %></li>
              <li><%= link_to "О нас", visit_path %></li>
              <li><%= link_to "Услуги", mass_path %></li>
              <li><%= link_to "Продукция", multrp_path %></li>
              <li><%= link_to "Новости", news_path %></li>
              <li><%= link_to "Контакты", gwork_path %></li>
           
               </ul>
         
       </div>
      </div>
    </header>
    <%#end%>