<%# cache do %>
 <article id="userlogin">
 	<div class="navbar navbar-inverse navbar-inner">
      
        
            <ul class="nav" id="mainmenu">

              <li><%= link_to "Головна сторінка", root_path %></li>
              <li><%= link_to "Візитна картка", visit_path %></li>
              <li><%= link_to "Методичний банк", mbank_path %></li>
              <li><%= link_to "Мультимедійні розробки", multrp_path %></li>
              <li><%= link_to "Гурткова робота", gwork_path %></li>
           
               </ul>
         
       </div>
<%#end%>
 
     
