<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
    <%= stylesheet_link_tag 'jquery.rambling.slider' %>
    <%= javascript_include_tag 'jquery.rambling.slider' %>
    <%= csrf_meta_tags %>
    
    <%= render 'layouts/shim' %>
    
    </head>
  
  <body>


<%= render 'layouts/header' %>

      <%= yield %>
<% cache('layouts/footer') do %> 
<%= render 'layouts/footer' %>
<% end %> 
    
   </body>
</html>